---
Language: Cpp # Also covers at least C, ObjC, ObjC++

# Default style
# BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120

# Keep (virtually) all empty lines
MaxEmptyLinesToKeep: 9999

# Trailing comments
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# Consecutive assignments
AlignConsecutiveAssignments: true

# Consecutive declarations
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

# Consecutive macros
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
ContinuationIndentWidth: 2

# Includes
SortIncludes: true

# [cpp]
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
---
